body {
    font-family: sans-serif;
    text-align: center;
    background-color: #FFEDFA;
  }
  
  .container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFB8E0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .hidden {
    display: none;
  }
  
  img {
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }